*, body {
    font-family: Comic sans-serif;
}


.logo{
    
}




.green-btn {
    background-color: #469388;
    color: white;
    padding: 10px 20px;
    border: none;
    
}

.pointer{
    cursor: pointer;
}


.green-btn-2 {
    background-color: #469388;
    color: white;
    padding: 5px 40px;
    border: none;
    margin-bottom: 10px;
}


.red-btn {
    background-color:red;
    color: white;
    padding: 5px 40px;
    border: none;
}


.section-center {
    text-align: center;
    font-family: Comic sans-serif;
}


.vertical-spacing-top {
    margin-top: 40px;
}


.list-bookmarks {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}


.book-card {
    background-color: antiquewhite;
    border-style: solid;
    max-width: 300px;
}

.hidden {
    display: none;
}

.bookmark{
    color:#469388;
    font-size:20px;
    text-align: right;
    margin-right: 20px;
    margin-top: 10px;
}

.added {
    color:red;
}


.form-layout {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px;
}

.green-bg {
    background-color: #469388;
    color:white;
    margin: 15px;
    border-radius: 35px;
}


/*desktop*/

@media screen and (min-width: 720px) {
    .form-layout {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin: 15px;
    }
}